:root{
  --body_background:#151c25;
  --link_color:#EC4899;
}
[data-theme="dark"]{
  --body_background:#FDF4DC;
  --link_color:black;
}

*{
  transition: all 0.3s ease-in-out;
}
.title-gradient-white-color{
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title-gradient-pink-color{
  background: -webkit-linear-gradient(#eee, #d6659e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
p{
  color:var(--link_color)
}
h1{
  color:var(--link_color)
}
h3{
  color:var(--link_color)
}

#inputGenerateImage::placeholder {
  color: #EC4899;
  opacity: 0.9;
  letter-spacing:3px;
}

.text-gradient-pink-italic{
  font-style:italic;
  background: -webkit-linear-gradient(#866a80, #e68bdd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* For loading circle */
.lds-dual-ring {
  display: inline-block;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 45px;
  height: 45px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.5s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spaceBackground{
  background-image: url(./images/wire-design-blue.png);
}

/* Create Ball Circle */
.circleRed{
  width:25px;
  height:25px;
  margin:10px;
  border-radius:50%;
  background-color:rgb(217, 16, 26);
}

.circleGreen{
  width:25px;
  height:25px;
  margin:10px;
  border-radius:50%;
  background-color:rgb(29, 220, 90);
}


/* For Hover on the About Us Section. Gives a green light. */
.greenHoverNeon:hover {
  box-shadow: rgba(83, 218, 97, 0.1) 0px 10px 15px -3px,
    rgba(225, 221, 221, 0.05) 0px 4px 6px -2px;
}


























body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
