label {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dotted rgb(231, 109, 174);
    border-radius: 20px;
    width: 10rem;
    height: 10rem;
    cursor: pointer;
    font-size: large;
  }
  label p {
    font-weight: lighter;
    font-size: small;
    padding-top: 0.5rem;
  }
  /* Hide the ugly original input text */
  input {
    display: none;
  }
  
  label:hover,
  .upload-btn:hover {
    box-shadow: rgba(83, 218, 97, 0.1) 0px 10px 15px -3px,
      rgba(225, 221, 221, 0.05) 0px 4px 6px -2px;
  }
  
  

  .imageContainerUpload{
    border: 1px dotted rgb(231, 109, 174);
    border-radius: 20px;
    padding:10px;
  }